<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/login" (click)="onToggleClose()">
      <mat-icon>input</mat-icon>
      <span>Login</span>
    </a>
    <a mat-list-item routerLink="/sign-up" (click)="onToggleClose()">
      <mat-icon>account_circle</mat-icon>
      <span>Signup</span>
    </a>
    <a mat-list-item routerLink="/new-ticket" (click)="onToggleClose()">
      <mat-icon>hotel</mat-icon>
      <span>New Ticket</span>
    </a>
    <a mat-list-item routerLink="/ticket-status" (click)="onToggleClose()">
      <mat-icon>loyalty</mat-icon>
      <span>Ticket Status</span>
    </a>
    <a mat-list-item routerLink="/view-all-ticket" (click)="onToggleClose()">
      <mat-icon>loyalty</mat-icon>
      <span>View All Status</span>
    </a>
  </mat-nav-list>